@model List<ResultProductWithCategoryDto>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Başlık</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Tipi</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Şehir</th>
                        <th scope="col">İlçe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var lastProduct in Model)
                    {
                        <tr>
                            <td>@lastProduct.Title</td>
                            <td>@lastProduct.CategoryName</td>
                            <td>@lastProduct.Type</td>
                            <td>@lastProduct.Price</td>
                            <td>@lastProduct.City</td>
                            <td>@lastProduct.District</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>