@model List<ResultProductWithCategoryDto>
@{
    int count = 0;
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Son 5 İlan</h6>
            <a asp-area="Admin" asp-controller="Products" asp-action="Index">Tüm İlanlar</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">Başlık</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Tipi</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">İl-İlçe</th>
                        <th scope="col">Detay</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var lastProduct in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@lastProduct.Title</td>
                            <td>@lastProduct.Date.ToShortDateString()</td>
                            <td>@lastProduct.CategoryName</td>
                            <td>@lastProduct.Type</td>
                            <td>@lastProduct.Price</td>
                            <td>@lastProduct.City - @lastProduct.District</td>
                            <td><a class="btn btn-sm btn-primary" href="">İlan Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>