@{
    ViewData["Title"] = "İstatistikler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-bookmark fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Toplam Kategori</p>
            <h6 class="mb-0">@ViewBag.CategoryCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-folder-open fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Aktif Kategori</p>
            <h6 class="mb-0">@ViewBag.ActiveCategoryCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-folder fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Pasif Kategori</p>
            <h6 class="mb-0">@ViewBag.PassiveCategoryCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-tags fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Toplam İlan</p>
            <h6 class="mb-0">@ViewBag.ProductCount</h6>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-user fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Aktif Personel</p>
            <h6 class="mb-0">@ViewBag.ActiveEmployeeCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-home fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Daire İlan Sayısı</p>
            <h6 class="mb-0">@ViewBag.ApartmentCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-bars fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Ortalama Kira Fiyatı</p>
            <h6 class="mb-0">@ViewBag.AvgProductPriceByRent</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-bars fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Ortalama Satış Fiyatı</p>
            <h6 class="mb-0">@ViewBag.AvgProductPriceBySale</h6>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-bed fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Ortalama Oda Sayısı</p>
            <h6 class="mb-0">@ViewBag.AvgRoomCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-briefcase fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Çok İlanlı Kategori</p>
            <h6 class="mb-0">@ViewBag.CategoryNameByMaxProductCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-map fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Çok İlanlı Şehir</p>
            <h6 class="mb-0">@ViewBag.CityNameByMaxProductCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-industry fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Şehir Sayısı</p>
            <h6 class="mb-0">@ViewBag.DifferentCityCount</h6>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-star fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">En Başarılı Personel</p>
            <h6 class="mb-0">@ViewBag.EmployeeNameByMaxProductCount</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-fire fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">Son İlan Fiyatı</p>
            <h6 class="mb-0">@ViewBag.LastProductPrice</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-building fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">En Yeni Bina Yılı</p>
            <h6 class="mb-0">@ViewBag.NewestBuildingYear</h6>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xl-3">
    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-university fa-3x text-primary"></i>
        <div class="ms-3">
            <p class="mb-2">En Eski Bina Yılı</p>
            <h6 class="mb-0">@ViewBag.OldestBuildingYear</h6>
        </div>
    </div>
</div>